#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/pkg-kde-tools/qt-kde-team/2/debian-qt-kde.mk

override_dh_strip:
	$(overridden_command) --dbg-package=kinit-dbg

override_dh_link:
	# fix lintian warning dev-pkg-without-shlib-symlink
	$(overridden_command) -pkinit usr/lib/$(DEB_HOST_MULTIARCH)/libkdeinit5_klauncher.so.0.0.0 usr/lib/$(DEB_HOST_MULTIARCH)/libkdeinit5_klauncher.so
	$(overridden_command) --remaining-packages
