#!/usr/bin/make -f
# -*- makefile -*-

export DEB_LDFLAGS_MAINT_APPEND := -Wl,--as-needed

%:
	dh $@ --with kf5,pkgkde_symbolshelper --buildsystem kf5 --without build_stamp

override_dh_strip:
	dh_strip --dbgsym-migration='kinit-dbg (<= 5.19.0-1~~)'

debian/%.postinst: debian/%.postinst.in
	rm -f $@
	sed 's/#MULTIARCH#/$(DEB_HOST_MULTIARCH)/g' $< > $@

override_dh_auto_configure: debian/kinit.postinst
	$(overridden_command)
